<!-- Advantages
У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.
Перелік переваг, який необхідно реалізувати як сітку елементів з використанням <ul>. -->

<section class="advantages-main section">
  <div class="container advantages-color-wallp">
    <h2 class="hidden">Advantages</h2>

    <ul class="advantages-box-transportation">
      <li class="advantages-points-list">
        <div class="advantages-cirkle">
          <svg class="advantages-picture" width="32" height="32">
            <use href="./img/icons/icons.svg#icon-chocolate-bar"></use>
          </svg>
        </div>

        <h3 class="advantages-zagolovok subtitle">Unsurpassed taste</h3>
        <p class="advantages-text">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection, each bite is a decadent experience that simply cannot be
          matched. Savor the richness and complexity of our Unsurpassed Taste
          and discover a new level of chocolate bliss.
        </p>
        <div class="advantages-linie"></div>
      </li>

      <li class="advantages-points-list">
        <div class="advantages-cirkle">
          <svg class="advantages-picture" width="32" height="32">
            <use href="./img/icons/icons.svg#icon-coin"></use>
          </svg>
        </div>

        <h3 class="advantages-zagolovok subtitle">Affordable price</h3>
        <p class="advantages-text">
          Indulge in high-quality chocolate without breaking the bank with
          Simply Chocolate's selection of affordable treats. Enjoy
          mouth-watering truffles and velvety chocolate bars without sacrificing
          taste or quality. Browse our selection and indulge in affordable
          luxury today.
        </p>

        <!-- ПОЛОСКА -->
        <div class="advantages-linie"></div>
      </li>

      <li class="advantages-points-list">
        <div class="advantages-cirkle">
          <svg class="advantages-picture" width="32" height="32">
            <use href="./img/icons/icons.svg#icon-spoon"></use>
          </svg>
        </div>

        <h3 class="advantages-zagolovok subtitle">Own production</h3>
        <p class="advantages-text">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
