<footer class="footer">
    <div class="footer-container container">
      <div class="footer-contact-social">
        <p class="slogan">Chocolate<span class="slogan-second"> a delicious<br>cure for a bad day</span>
         </p>
           <div class="footer-contact-social-services">
             <div class="footer-contact">
                <p class="footer-contact-title">Contact us</p>
                  <ul class="footer-contact-list list">
                    <li class="footer-contact-item ">
                     <a class="footer-contact-link link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                      </li>
                       <li class="footer-contact-item ">
                        <a class="footer-contact-tel link" href="+380(68)443-94-26">380684439426</a>
                    </li>
                </ul>
            </div>
        <ul class="footer-social-services-list">
          <li class="footer-social-services-item">
            <a href="https://www.instagram.com/" class="footer-social-services-link">
              <svg class="footer-social-services-icon" width="24px" height="24px">
                <use href="../img/icons/icons.svg#icon-instagram">
                    </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-services-item">
<a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicnUifQ%3D%3D%22%7D" 
                    class="footer-social-services-link">
                        <svg class="footer-social-services-icon" width="24px" height="24px">
                            <use href="../img/icons/icons.svg#icon-twitter">
                             </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
 <ul class="footer-page-nav-list">
    <li class="footer-page-nav-item">
        <a class="footer-page-nav-link" href="/partials/header.html">Home</a>
         </li>
           <li class="footer-page-nav-item">
             <a class="footer-page-nav-link" href="/partials/how-its-made.html">How it’s made?</a>
               </li>
                 <li class="footer-page-nav-item">
                   <a class="footer-page-nav-link" href="/partials/our-products.html">Our products</a>
                    </li>
    <li class="footer-page-nav-item">
       <a class="footer-page-nav-link" href="/partials/top-sellers.html">Top sellers</a>
         </li>
           <li class="footer-page-nav-item">
             <a class="footer-page-nav-link" href="/partials/reviews.html">Chocolate is loved</a>
               </li>
                 </ul>
                  </div>
                 </footer>
                  