<header class="header">
  <!-- MOBILE -->

  <div class="container container-header">
    <a href="./index.html" class="logosimply"
      >Simply<span class="logochocolate">Chocolate</span>
      <svg class="logoicon" width="24" height="24">
        <use href="../img/icons/icons.svg#icon-chocolate"></use>
      </svg>
    </a>

    <button
      type="button"
      class="mobile-menu-open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-open-burger">
        <use href="../img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close-btn js-close-menu">
        <svg class="mobile-menu-close-icon">
          <use href="../img/icons/icons.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="list mobile-menu-nav">
        <li>
          <a href="./index.html" class="mobile-menu-nav-link current">Home</a>
        </li>
        <li>
          <a href="./how-its-made.html" class="mobile-menu-nav-link"
            >How it’s made?</a
          >
        </li>
        <li>
          <a href="./our-products.html" class="mobile-menu-nav-link"
            >Our products</a
          >
        </li>
        <li>
          <a href="./top-sellers.html" class="mobile-menu-nav-link"
            >Top sellers</a
          >
        </li>
        <li>
          <a href="./reviews.html" class="mobile-menu-nav-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <div>
        <ul class="list icon-mobile-menu">
          <li class="icon-mobile-menu-box">
            <a href="" class="icon-mobile-menu-link">
              <svg class="icon-mobile-menu-item">
                <use href="../img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-mobile-menu-box">
            <a href="" class="icon-mobile-menu-link">
              <svg class="icon-mobile-menu-item">
                <use href="../img/icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- /mobile -->

  <!-- TABLET -->

  <!-- <div class="container container-header-tablet">
    <a href="./index.html" class="logosimply"
      >Simply<span class="logochocolate">Chocolate</span>
      <svg class="logoicon" width="21" height="21">
        <use href="../img/icons/icons.svg#icon-logo1"></use>
      </svg>
    </a>

    <button
      type="button"
      class="tablet-menu-open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="tablet-menu-open-burger" width="32" height="32">
        <use href="../img/icons/icons.svg#icon-burger1"></use>
      </svg>
    </button>

    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <div class="container tablet-menu-container">
        <button class="tablet-menu-close-btn js-close-menu">
          <svg class="tablet-menu-close-icon" width="32px" height="32px">
            <use href="../img/icons/icons.svg#icon-close1"></use>
          </svg>
        </button>

        <ul class="list tablet-menu-nav">
          <li>
            <a href="./index.html" class="mobile-menu-link-nav current">Home</a>
          </li>
          <li>
            <a href="./how-its-made.html" class="mobile-menu-link-nav"
              >How it’s made?</a
            >
          </li>
          <li>
            <a href="./our-products.html" class="mobile-menu-link-nav"
              >Our products</a
            >
          </li>
          <li>
            <a href="./top-sellers.html" class="mobile-menu-link-nav"
              >Top sellers</a
            >
          </li>
          <li>
            <a href="./reviews.html" class="mobile-menu-link-nav"
              >Chocolate is loved</a
            >
          </li>
        </ul>

        <div>
          <ul class="list icon-tablet-menu">
            <li class="icon-tablet-menu-box">
              <a href="" class="icon-tablet-menu-link">
                <svg width="24px" height="24px">
                  <use href="../img/icons/icons.svg#icon-instagram-tab1"></use>
                </svg>
              </a>
            </li>
            <li class="icon-tablet-menu-box">
              <a href="" class="icon-tablet-menu-link">
                <svg width="24px" height="24px">
                  <use href="../img/icons/icons.svg#icon-twitter-tab1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- /tablet -->

  <!-- DESKTOP -->

  <div class="container container-header-desktop">
    <a href="./index.html" class="logosimply"
      >Simply<span class="logochocolate">Chocolate</span>
      <svg class="logoicon" width="24" height="24">
        <use href="../img/icons/icons.svg#icon-chocolate"></use>
      </svg>
    </a>
    <nav>
      <ul class="navigation list">
        <li>
          <a href="./index.html" class="link-nav current">Home</a>
        </li>
        <li>
          <a href="./how-its-made.html" class="link-nav">How it’s made?</a>
        </li>
        <li>
          <a href="./our-products.html" class="link-nav">Our products</a>
        </li>
        <li>
          <a href="./top-sellers.html" class="link-nav">Top sellers</a>
        </li>
        <li>
          <a href="./reviews.html" class="link-nav">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <div>
      <ul class="list header-icon">
        <li class="header-icon-box">
          <a href="" class="header-icon-link">
            <svg>
              <use href="../img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-box">
          <a href="" class="header-icon-link">
            <svg width="20px" height="20px">
              <use href="../img/icons/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
