<header id="home" class="header">
  <!-- MOBILE -->

  <div class="container container-header">
    <a href="./index.html" class="logosimply"
      >Simply<span class="logochocolate">Chocolate</span>
      <svg class="logoicon" width="21" height="21">
        <use href="./img/icons/icons.svg#icon-chocolate"></use>
      </svg>
    </a>

    <button
      type="button"
      class="mobile-menu-open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-open-burger" width="28" height="28">
        <use href="./img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close-btn js-close-menu">
        <svg class="mobile-menu-close-icon" width="28" height="28">
          <use href="./img/icons/icons.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="list mobile-menu-nav">
        <li>
          <a href="#home" class="mobile-menu-nav-link current">Home</a>
        </li>
        <li>
          <a href="#how-its-made" class="mobile-menu-nav-link"
            >How it’s made?</a
          >
        </li>
        <li>
          <a href="#our-product" class="mobile-menu-nav-link">Our products</a>
        </li>
        <li>
          <a href="#top-sellers" class="mobile-menu-nav-link">Top sellers</a>
        </li>
        <li>
          <a href="#chocolate-is-loved" class="mobile-menu-nav-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <div>
        <ul class="list icon-mobile-menu">
          <li class="icon-mobile-menu-box">
            <a
              href="https://www.instagram.com/"
              class="icon-mobile-menu-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-icon-item" width="22" height="22">
                <use href="./img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-mobile-menu-box">
            <a
              href="https://twitter.com/"
              class="icon-mobile-menu-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-icon-item" width="22" height="22">
                <use href="./img/icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- /mobile -->

  <!-- DESKTOP -->

  <div class="container container-header-desktop">
    <a href="./index.html" class="logosimply"
      >Simply<span class="logochocolate">Chocolate</span>
      <svg class="logoicon" width="24" height="24">
        <use href="./img/icons/icons.svg#icon-chocolate"></use>
      </svg>
    </a>
    <nav>
      <ul class="navigation list">
        <li>
          <a href="#home" class="link-nav current">Home</a>
        </li>
        <li>
          <a href="#how-its-made" class="link-nav">How it’s made?</a>
        </li>
        <li>
          <a href="#our-product" class="link-nav">Our products</a>
        </li>
        <li>
          <a href="#top-sellers" class="link-nav">Top sellers</a>
        </li>
        <li>
          <a href="#chocolate-is-loved" class="link-nav">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <div>
      <ul class="list header-icon">
        <li class="header-icon-box">
          <a
            href="https://www.instagram.com/"
            class="header-icon-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-icon-item-desktop" width="24" height="24">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-box">
          <a
            href="https://twitter.com/"
            class="header-icon-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-icon-item-desktop" width="24" height="24">
              <use href="./img/icons/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
