<!-- created by DEMIAN -->

<!--Hero section-->

<section class="hero-section section">
  <h1 class="hidden">Hero Title_Simply chocolate</h1>

  <div class="hero-container container">
    <div class="hero-wrap">
      <p class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="hero-block-btn">
        <div class="hero-buttons">
          <button class="hero-btn js-open-modal" type="button" data-modal="2">
            Buy now
          </button>
          <a href="#how-its-made" class="hero-second-btn">How it’s made</a>
        </div>
        <div class="hero-scroll">
          <p class="hero-scroll-text">scroll down</p>
          <a href="#footer-scroll" class="hero-scroll-btn">
            <svg class="hero-scroll-icon" width="22px" height="22px">
              <use href="./img/icons/icons.svg#icon-vector"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>