	<!-- created by DEMIAN -->

    <!--Hero section-->
		
    <section class="hero-section section">
        <div class="hero-container container">
            <h1 class="visually-hidden">Hero Title_Simply chocolate</h1>
            <div class="hero-buttons">
                <h2 class="hero-subtitle">Treat yourself or a loved one 
                    to our finest ingredients for a moment of pure delight!</h2>
                <button class="hero-btn" type="button" data-modal-open>Buy now</button>
                <button class="hero-second-btn" тзь type="button">How it’s made</button>
            </div>              
            <div class="hero-scroll">
                <p class="hero-scroll-text">scroll down</p>
                <button class="hero-scroll-btn" type="button">
                    <svg class="hero-scroll-icon" width="22px" heigth="22px">
                        <use href="../img/icons/icons.svg#icon-vector"></use>
                    </svg>
                </button>
            </div> 
        </div>					
    </section>
 