<!-- Victoria -->

<section class="how-its-made section">
  <div class="container">
    <h2 class="how-made-title">
      How it's<span class="how-made-colorful">made?</span>
    </h2>
    <div class="how-made-space">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-its-made-img/how-its-made-desk@1.jpg 1x,
          ./img/how-its-made-img/how-its-made-desk@2.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/how-its-made-img/how-its-made-tab@1.jpg 1x,
          ./img/how-its-made-img/how-its-made-tab@2.jpg 2x
        "
      />
      <img class="how-made-image"
        srcset="
          ./img/how-its-made-img/how-its-made-mob@1.jpg 1x,
          ./img/how-its-made-img/how-its-made-mob@2.jpg 2x
        "
        src="./img/how-its-made-img/how-its-made-mob@1.jpg"
        alt="chocolate"
        width="335"
        height="500"
      />
    </picture>

    </svg>
  </div>
    <h3 class="how-made-subtitle">
      Try our chocolates today and discover the perfect balance of flavor
    </h3>
    <ul class="how-made-list">
      <li class="how-made-text">
        Heat the milk in a saucepan without bringing it to a boil. Add sugar and
        cocoa powder.
      </li>
      <li class="how-made-text">
        At the same time, prepare a water bath. Melt the butter on it.
      </li>
      <li class="how-made-text">
        "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
        silicone spatula so that the mass becomes uniform and silky.
      </li>
      <li class="how-made-text">
        Heat the mixture over low heat, letting it barely boil.
      </li>
      <li class="how-made-text">
        Pour the chocolate into special containers (can be replaced with ice
        molds). Allow to cool and harden.
      </li>
    </ul>
  </div>
</section>
