<!-- Victoria -->

<section class="how-its-made section">
  <div class="container">
    <h2 class="how-made-title title" id="how-its-made">
      How it's&nbsp;<span>made?</span>
    </h2>
    <div class="how-made-section">
      <div class="how-made-space">
        <div class="page">
          <div class="video">
            <div class="video__overlay js-video-btn">
              <svg class="video-icon" width="35" height="35">
                <use href="./img/icons/icons.svg#icon-play"></use>
              </svg>
            </div>

            <video class="video-mobile js-video" src="./img/how-its-made-img/schokovid2.mp4"
              poster="./img/how-its-made-img/how-its-made-desk@1.jpg" muted preload="auto"></video>
          </div>
        </div>

        <div class="him-cont-icon"></div>
      </div>
      <div class="how-made-list-background">
        <h3 class="how-made-subtitle subtitle">
          Try our chocolates today and <br />
          discover the perfect balance of flavor
        </h3>
        <ul class="how-made-list">
          <li class="how-made-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-text">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-text">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>