<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Victoria -->
    <section class="how-its-made">
        <h2 class="how-made-title">How it's<span class="how-made-colorful">made?</span></h2>
        <picture class="how-made-img">
        <source srcset="">
        <img src="../img" alt="melting-choco">
    </picture>
        <svg class="how-made-icon" width="14" height="15">
            <use href="./img/icons/icons.svg#icon-play"></use>
        </svg>
            <p class="how-made-subtitle">Try  our chocolates today and discover the perfect balance of flavor</p>
            <ul class="how-made-list">
                <li class="how-made-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                <li class="how-made-text">At the same time, prepare a water bath. Melt the butter on it.</li>
                <li class="how-made-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                <li class="how-made-text">Heat the mixture over low heat, letting it barely boil.</li>
                <li class="how-made-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
            </ul>
        </img>
    </section>
</body>
</html>