<section class="our-products-section">
  <div class="our-products-container container">
    <h2 class="our-products-title title" id="our-product">
      Our <span>products</span>
    </h2>

    <div class="our-products-slider our-prod-slide-list">
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate1@2.jpg 2x"
          src="./img/our-chocolate/chocolate1.jpg" alt="Dark chocolate Orange" />
        <h3 class="our-prod-name subtitle">orange</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">45 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate2@2.jpg 2x"
          src="./img/our-chocolate/chocolate2.jpg" alt="Milk chocolate Apple & Cranberry" />
        <h3 class="our-prod-name subtitle">apple&cranberry</h3>
        <p class="our-prod-text">Milk chocolate</p>
        <button class="our-prod-btn" type="button">50 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate3@2.jpg 2x"
          src="./img/our-chocolate/chocolate3.jpg" alt="Dark chocolate Lime & Sea salt" />
        <h3 class="our-prod-name subtitle">lime&sea salt</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">66 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate4@2.jpg 2x"
          src="./img/our-chocolate/chocolate4.jpg" alt="Dark chocolate Pineapple" />
        <h3 class="our-prod-name subtitle">pineapple</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">54 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate5@2.jpg 2x"
          src="./img/our-chocolate/chocolate5.jpg" alt="chocolate Classic milk" />
        <h3 class="our-prod-name subtitle">classic</h3>
        <p class="our-prod-text">Milk chocolate</p>
        <button class="our-prod-btn" type="button">45 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate6@2.jpg 2x"
          src="./img/our-chocolate/chocolate6.jpg" alt="Milk chocolate Honey" />
        <h3 class="our-prod-name subtitle">honey</h3>
        <p class="our-prod-text">Milk chocolate</p>
        <button class="our-prod-btn" type="button">50 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate7@2.jpg 2x"
          src="./img/our-chocolate/chocolate7.jpg" alt="Dark chocolate Roasted winter fruits" />
        <h3 class="our-prod-name subtitle">roasted fruits</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">66 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img class="our-prod-slide-img" srcset="./img/our-chocolate/chocolate8@2.jpg 2x"
          src="./img/our-chocolate/chocolate8.jpg" alt="chocolate Classic white" />
        <h3 class="our-prod-name subtitle">classic</h3>
        <p class="our-prod-text">White chocolate</p>
        <button class="our-prod-btn" type="button">54 UAH</button>
      </div>
    </div>
  </div>
</section>