<section class="section">
  <div class="container">
    <h2 class="our-prod-title">
      OUR
      <span class="products-title">PRODUCTS</span>
    </h2>
    <div class="our-products-slider our-prod-slide-list">
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate1.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">orange</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">45 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate2.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">APPLE&CRANBERRY</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">50 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate3.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">lime&sea salt</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">66 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate4.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">pineapple</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">54 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate5.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">orange</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">45 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate6.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">APPLE&CRANBERRY</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">50 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate7.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">lime&sea salt</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">66 UAH</button>
      </div>
      <div class="our-prod-slide-item">
        <img
          class="our-prod-slide-img"
          src="../img/our-chocolate/chocolate8.png"
          alt="chocolate"
        />
        <h3 class="our-prod-name">pineapple</h3>
        <p class="our-prod-text">Dark chocolate</p>
        <button class="our-prod-btn" type="button">54 UAH</button>
      </div>
    </div>
  </div>
</section>
