<section class="reviews-section section">
  <div class="reviews-container container">
    <h2 class="reviews-title title" id="chocolate-is-loved">
      <span>chocolate&nbsp;</span>is loved
    </h2>
    <div class="reviews-list reviews-slider">
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/victoria-d@2x.jpg 2x"
            src="./img/reviews/victoria-d.jpg" alt="Victoria Dobrzhanska photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Victoria Dobrzhanska</h3>
            <p class="reviews-description-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/nazar-b@2x.jpg 2x" src="./img/reviews/nazar-b.jpg"
            alt="Nazar Babenko photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Nazar Babenko</h3>
            <p class="reviews-description-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/olena-k@2x.jpg 2x" src="./img/reviews/olena-k.jpg"
            alt="Olena Kampusch photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Olena Kampusch</h3>
            <p class="reviews-description-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/natalia-s@2x.jpg 2x" src="./img/reviews/natalia-s.jpg"
            alt="Natalia Sus photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Natalia Sus</h3>
            <p class="reviews-description-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/danilo-n@2x.jpg 2x" src="./img/reviews/danilo-n.jpg"
            alt="Danilo Nottingham photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Danilo Nottingham</h3>
            <p class="reviews-description-text">
              This is delicious. It so rich and flavorful you don&rsquo;t need
              to use as many. I love topping an apple with almond butter and
              these chips for a snack.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-guests">
          <div class="reviews-guests-blok"></div>
          <img class="reviews-guests-photo" srcset="./img/reviews/irina-t@2x.jpg 2x" src="./img/reviews/irina-t.jpg"
            alt="Irina Tydnyuk photo" width="80" height="80" />
          <div class="reviews-guests-description">
            <h3 class="reviews-subtitle subtitle">Irina Tydnyuk</h3>
            <p class="reviews-description-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class
              &#58;&#41;
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="reviews-open-btn js-open-modal" type="button" data-modal="3">
      Leave a review
    </button>
  </div>
  <div class="reviews-modal modal" data-modal="3">
    <button class="reviews-close-btn js-modal-close" type="button">
      <svg class="reviews-close-btn-ikon">
        <use href="./img/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="reviews-modal-title title">
      leave a review about&nbsp;<br class="bad-teg" /><span>our chocolate</span>
    </p>
    <form class="reviews-modal-form">
      <label><span class="hidden">Name</span>
        <input class="reviews-modal-input reviews-modal-wrap" name="user-name" type="text" required minlength="2"
          pattern="^[a-zA-Z]+$" placeholder="Name" />
      </label>
      <label class="reviews-mobil"><span class="hidden">Email</span>
        <input class="reviews-modal-input reviews-modal-wrap" name="user-email" type="email"
          placeholder="Enter your email" />
      </label>
      <label class="reviews-tablet"><span class="hidden">Email</span>
        <input class="reviews-modal-input reviews-modal-wrap" name="user-email" type="email" placeholder="Email" />
      </label>
      <label class="reviews-phone"><span class="hidden">Phone</span>
        <span class="reviews-code-country">
          <svg class="reviews-modal-ikon-flag">
            <use href="./img/icons/icons.svg#icon-flag"></use>
          </svg>
          <span class="reviews-code-country-numeric">+380 </span>
        </span>
        <input class="reviews-modal-input reviews-modal-wrap modal-tel" name="user-phone" type="tel" required
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xx-xx" placeholder="Phone number" />
      </label>
      <label><span class="hidden">Comment</span>
        <textarea class="reviews-modal-input textarea" name="user-comment" placeholder="Enter text"></textarea>
      </label>
      <button class="reviews-submit-modal-btn" type="submit">Send</button>
    </form>
  </div>
</section>
<div class="overlay js-overlay-modal"></div>