<section class="section subscribe">
  <div class="container">
    <h2 class="subscribe-explore  title">explore our new chocolate first</h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="subscribe-button js-open-modal" type="button" data-modal="4">
      Subscribe
    </button>
  </div>
</section>

<div class="subscribe-modal modal" data-modal="4">
  <div class="subscribe-modal-bg"></div>
  <button type="button" class="subscribe-modal-btn js-modal-close">
    <svg class="subscribe-modal-btn-close" width="24" height="24">
      <use href="./img/icons/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="subscribe-modal-wrapp">
    <p class="subscribe-modal-text">
      Explore our <br />
      <span class="subscribe-modal-new">new chocolate</span>
      first!
    </p>
    <form class="subscribe-modal-form">
      <label>
        <input type="email" placeholder="Enter your email" name="user email" class="subscribe-review-input"
          title="user@mail.com" />
      </label>
      <button type="submit" class="subscribe-review-submit">Submit</button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>