<section class="subscribe">
    <h2 class="subscribe-explore">explore our new <br/> chocolate first</h2>
    <p class="subscribe-text">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you
    craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art
    that is sure to please.</p>
    <button class="subscribe-button " data-modal="3" type="button" js-open-modal>Subscribe</button>
</section>

<div class="subscribe-modal" data-modal="3">
    <button type="button" class="subscribe-modal-btn " js-modal-close >
        <svg class="subscribe-modal-btn-close" width="24" height="24">
            <use href="../img/subscribe/symbol-defs.svg#icon-x-close"></use>
        </svg>
    </button>
    <div class="subscribe-border"></div>
    <p class="subscribe-modal-text">
        Explore our <br>
        <span class="subscribe-modal-new">new chocolate</span>
         first!
    </p>
    <form class="subscribe-modal-form">
        <label for="">
            <input type="email" placeholder="Enter your email" name="user email" class="subscribe-review-input" title="user@mail.com">
        </label>
        <button type="submit" class="subscribe-review-submit">Submit</button>
    </form>
</div>

<div class="overlay js-overlay-modal"></div>