<section class="top-sellers-section section">
  <div class="container">
    <h2 class="title-top-seller title" id="top-sellers">
      <span>top</span> sellers
    </h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <picture>
          <source media="(min-width:1200px)" srcset="
              ./img/top-sellers/nuts-desk@1.jpg 1x,
              ./img/top-sellers/nuts-desk@2.jpg 2x
            ">
          <source media="(min-width:768px)" srcset="
              ./img/top-sellers/nuts-tab@1.jpg 1x,
              ./img/top-sellers/nuts-tab@2.jpg 2x
            ">
          <img class="ts-img" srcset="
              ./img/top-sellers/nuts-mob@1.jpg 1x,
              ./img/top-sellers/nuts-mob@2.jpg 2x
            " src="./img/top-sellers/nuts-mob@1.jpg" alt="chocolate" loading="lazy">
        </picture>

        <div class="top-sellers-block">
          <p class="top-sellers-discription">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="top-sellers-item sellers-tab-item">
        <picture>
          <source media="(min-width:1200px)" srcset="
              ./img/top-sellers/choc-desk@1.jpg 1x,
              ./img/top-sellers/choc-desk@2.jpg 2x
            ">
          <source media="(min-width:768px)" srcset="
              ./img/top-sellers/choc-tab@1.jpg 1x,
              ./img/top-sellers/choc-tab@2.jpg 2x
            ">
          <img class="ts-img" srcset="
              ./img/top-sellers/choc-mob@1.jpg 1x,
              ./img/top-sellers/choc-mob@2.jpg 2x
            " src="./img/top-sellers/choc-mob@1.jpg" alt="chocolate" loading="lazy">
        </picture>
        <div class="top-sellers-block relative-block">
          <button type="button" class="buy-top-sellers sellers-modal-open js-open-modal" data-modal="2">
            Buy now
          </button>
        </div>
      </li>
      <li class="top-sellers-item top-sellers-item-hidden">
        <picture>
          <source media="(min-width:1200px)" srcset="
              ./img/top-sellers/choc-one-desk@1.jpg 1x,
              ./img/top-sellers/choc-one-desk@2.jpg 2x
            ">

          <img class="ts-img" src="./img/top-sellers/choc-one-desk@1.jpg" alt="chocolate" loading="lazy">
        </picture>
      </li>
    </ul>
  </div>
</section>

<!-- модальное окно -->
<div class="modal-top-sellers modal" data-modal="2">
  <button class="modal-top-sellers-close js-modal-close" type="button">
    <svg class="close-modal-buynow" width="24" height="24">
      <use href="./img/icons/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="title-top-seller title">
    <span>buy</span>&nbsp;now
  </h2>
  <ul class="modal-top-sellers-list">
    <li class="modal-top-sellers-item">
      <div class="modal-buynow-input">
        <picture>
          <source media="(min-width:768px)" srcset="
              ./img/top-sellers/mod-1-td@1.jpg 1x,
              ./img/top-sellers/mod-1-td@2.jpg 2x
            ">

          <img srcset="
              ./img/top-sellers/mod-1-mob@1.jpg 1x,
              ./img/top-sellers/mod-1-mob@2.jpg 2x
            " class="img-modal-buynow" src="./img/top-sellers/mod-1-mob@1.jpg" alt="kind-chhocolate" loading="lazy">
        </picture>
        <p class="modal-buynow-discription">100 g</p>
      </div>
    </li>
    <li class="modal-top-sellers-item">
      <div class="modal-buynow-input">
        <picture>
          <source media="(min-width:768px)" srcset="
              ./img/top-sellers/mod-2-td@1.jpg 1x,
              ./img/top-sellers/mod-2-td@2.jpg 2x
            ">

          <img srcset="
              ./img/top-sellers/mod-2-mob@1.jpg 1x,
              ./img/top-sellers/mod-2-mob@2.jpg 2x
            " class="img-modal-buynow" src="./img/top-sellers/mod-2-mob@1.jpg" alt="bonbon-chhocolate" loading="lazy">
        </picture>
        <p class="modal-buynow-discription">200 g</p>
      </div>
    </li>
    <li class="modal-top-sellers-item">
      <div class="modal-buynow-input">
        <picture>
          <source media="(min-width:768px)" srcset="
              ./img/top-sellers/mod-3-td@1.jpg 1x,
              ./img/top-sellers/mod-3-td@2.jpg 2x
            ">

          <img srcset="
              ./img/top-sellers/mod-3-mob@1.jpg 1x,
              ./img/top-sellers/mod-3-mob@2.jpg 2x
            " class="img-modal-buynow" src="./img/top-sellers/mod-3-mob@1.jpg" alt="dark-chhocolate" loading="lazy">
        </picture>
        <p class="modal-buynow-discription">300 g</p>
      </div>
    </li>
  </ul>
  <!-- форма -->
  <form>
    <label class="label-modal-buynow" for="name"> Personal information </label>
    <div class="top-sellers-susername">
      <div class="input-box-buynow margin-buynow">
        <input id="name" class="buynow-input" type="text" name="name" placeholder="Name">
      </div>
      <div class="input-box-buynow susername-buynow">
        <input id="surname" class="buynow-input" type="text" name="surname" placeholder="Surname">
      </div>
    </div>
    <label class="label-modal-buynow" for="email"> Email </label>
    <div class="input-box-buynow">
      <input id="email" class="buynow-input" type="email" name="email" placeholder="Enter your email">
    </div>
    <label class="label-modal-buynow" for="tel"> Phone number </label>
    <div class="input-box-buynow">
      <input id="tel" class="buynow-input-svg input-box-buynow" type="tel" name="tel" placeholder="Phone number">
      <svg class="icon-tel-input" width="24" height="18">
        <use href="./img/icons/icons.svg#icon-flag"></use>
      </svg>
      <div class="country-code">+380</div>
    </div>

    <label class="label-modal-buynow" for="card"> Card number </label>
    <div class="input-box-buynow">
      <input id="card" class="buynow-input buynow-input-svg-card" type="text" name="card" placeholder="Enter card">
      <svg class="icon-card-input" width="24" height="18">
        <use href="./img/icons/icons.svg#icon-mastercard-2"></use>
      </svg>
    </div>
    <label class="label-modal-buynow" for="comment"> Comment </label>
    <textarea placeholder="Enter text" id="comment" class="buynow-comment" name="comment">
    </textarea>
    <button type="submit" class="buy-top-sellers modal-submit">Submit</button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>