<section class="top-sellers">
    <h2><span>top</span>sellers</h2>
    <ul class="top-sellers-list">
        <li class="top-sellers-item">
<img srcset="/src/img/top-sellers/image.jpg 1x, /src/img/top-sellers/image@2x.jpg 2x" 
src="./src/img/top-sellers/image.jpg" alt="chocolate">
<p class="top-sellers-discription">
    Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
    Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
</p>
        </li>
        <li class="top-sellers-item">
            <img srcset="/src/img/top-sellers/image02.jpg 1x, /src/img/top-sellers/image02@2x.jpg 2x" 
src="./src/img/top-sellers/img02.jpg" alt="chocolate">
        </li>
    </ul>
    <button type="button" class="buy-top-sellers">
        buy now
    </button>
</section>
<div class="modal-top-sellers">

</div>
<div class="modal-tor-sellers">
    <button class="modal-top-sellers-close" type="button">
<svg class="close-modal-buynow" width="24" height="24">
    <use href="/src/img/icons/icons.svg#icon-close">
            </use>
</svg>
    </button>
    <h2><span>buy</span>now</h2>
    <ul class="modal-top-sellers-list">
        <li class="modal-top-sellers-item">
            <img class="img-modal-buynow" src="/src/img/top-sellers/kisspng-chocolate-bar-kinder-chocolate-white-chocolate-chocolate-nuts-5b0ef41cbe25b2 2.jpg"
            srcset="/src/img/top-sellers/kisspng-chocolate-bar-kinder-chocolate-white-chocolate-chocolate-nuts-5b0ef41cbe25b2 2.jpg 1x, 
            /src/img/top-sellers/kisspng-chocolate-bar-kinder-chocolate-white-chocolate-chocolate-nuts-5b0ef41cbe25b2@2x 2x.jpg">
            <p class="modal-buynow-discription">100g</p>
        </li>
        <li class="modal-top-sellers-item">
            <img class="img-modal-buynow" src="/src/img/top-sellers/kisspng-chocolate-bar-praline-kinder-chocolate-bonbon-milk-5ae8399b302ae1 1.jpg" 
            srcset="/src/img/top-sellers/kisspng-chocolate-bar-praline-kinder-chocolate-bonbon-milk-5ae8399b302ae1 1.jpg 1x, 
            /src/img/top-sellers/kisspng-chocolate-bar-praline-kinder-chocolate-bonbon-milk-5ae8399b302ae1@2x.jpg 2x">
            <p class="modal-buynow-discription">200g</p>
        <li class="modal-top-sellers-item">
            <img class="img-modal-buynow" src="/src/img/top-sellers/transparent-chocolate-bar-dark-chocolate-png-free-image-download5dc7cabee44135 1.jpg">
            <p class="modal-buynow-discription">300g</p>
        </li>
        <form>
            <label class="label-modal-buynow" for="name">
                Personal information
            </label>
            <div class="input-box-buynow">
                <input id="name" class="buynow-input" type="text" name="name" placeholder="Name">
            </div>
            <div class="input-box-buynow">
                <input id="surname" class="buynow-input" type="text" name="surname" placeholder="Surname">
            </div>
            <label class="label-modal-buynow" for="Email">
                Email
            </label>
            <div class="input-box-buynow">
                <input id="email" class="buynow-input" type="email" name="email" placeholder="Enter your email">
            </div>
            <label class="label-modal-buynow" for="tel">
                Phone number
            </label>
            <div class="input-box-buynow">
                <label>
                <input id="tel" class="buynow-input" type="tel" name="tel" placeholder="Phone number">
           <svg width="24" height="18">
            <use href="./src/img/icons/icons.svg#icon-vector" ></use>

           </svg>
           <p>+380</p>
                </div>
            </label>
            <label class="label-modal-buynow" for="card">
                Card number
            </label>
            <div class="input-box-buynow">
                <input id="card" class="buynow-input" type="number" name="card" placeholder="Enter card">
            </div>
            <label class="label-modal-buynow" for="comment">
                Comment
            </label>
            <textarea id="comment" class="buynow-comment" name="comment" placeholder="Enter text">
            </textarea>
            <button type="button" class="buy-top-sellers">
                Submit
            </button>
        </form>
    </ul>
</div>