<section class="unq-section">
    <div class="container unq-container">
    <h2 class="unq-title">IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION</h2>
        <p class="unq-text"></p>
            <ul class="unq-list list">
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <svg class="unq-icon">
                             <use>

                             </use>
                            </svg>
                    </div>
                    <div class="unq-animation">
                        <buttoon class="unq-btn"></buttoon>
                        <buttoon class="unq-btn-two"></buttoon>
                        <p class="unq-anim-text">

                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <svg class="unq-icon">
                             <use>

                             </use>
                            </svg>
                    </div>
                    <div class="unq-animation">
                        <buttoon class="unq-btn"></buttoon>
                        <buttoon class="unq-btn-two"></buttoon>
                        <p class="unq-anim-text">

                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <svg> class="unq-icon" 
                            <use>

                            </use>
                        </svg>
                    </div>
                    <div class="unq-animation">
                        <buttoon class="unq-btn"></buttoon>
                        <buttoon class="unq-btn-two"></buttoon>
                        <p class="unq-anim-text">

                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <svg> class="unq-icon" 
                            <use>

                            </use>
                        </svg>
                    </div>
                    <div class="unq-animation">
                        <buttoon class="unq-btn"></buttoon>
                        <buttoon class="unq-btn-two"></buttoon>
                        <p class="unq-anim-text">

                        </p>
                    </div>
                </li>
            </ul>
        
    
</div>
</section>