<!-- Unique components -->
<section class="unq-section">
    <div class="container unq-container">
     <h2 class="unq-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unq-span">TASTE</span> TASTE SENSATION</h2>
           <p class="unq-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>

         
            <ul class="unq-list list">
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <img class="unq-img" srcset="./img/uniqe/chocolate.jpg 1x,
                        ./img/uniqe/chocolate-2x.jpg 2x" 
                        src="./img/uniqe/chocolate.jpg" 
                        alt="Chocolate"
                        width="206" height="160">
                        <p> MILK CHOCOLATE</p>
                    </div>
                    <div class="unq-animation">
                        <h3 class="unq-title-two">Milk chocolate</h3>
                        <button class="unq-btn" type="button">chocolate</button>
                        <button class="unq-btn-two" type="button">the benefits</button>
                        <p class="unq-anim-text">
                            Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <img class="unq-img" srcset="./img/uniqe/milk.jpg 1x,
                        ./img/uniqe/milk-2x.jpg 2x" 
                        src="./img/uniqe/milk.jpg" 
                        alt="Milk"
                        width="206" height="160">
                        <p>MILK</p>
                    </div>
                    <div class="unq-animation">
                        <h3 class="unq-title-two">Milk</h3>
                        <button class="unq-btn" type="button">milk</button>
                        <button class="unq-btn-two" type="button">the benefits</button>
                        <p class="unq-anim-text">
                            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains...
                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <img class="unq-img" srcset="./img/uniqe/nuts.jpg 1x,
                        ./img/uniqe/nuts-2x.jpg 2x" 
                        src="./img/uniqe/nuts.jpg" 
                        alt="Nuts"
                        width="206" height="160">
                        <p>NUTS</p>
                    </div>
                    <div class="unq-animation">
                        <h3 class="unq-title-two">Nuts</h3>
                        <button class="unq-btn" type="button">nuts</button>
                        <button class="unq-btn-two" type="button">the benefits</button>
                        <p class="unq-anim-text">
                            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re ...
                        </p>
                    </div>
                </li>
                <li class="unq-item">
                    <div class="unq-cirkle">
                        <img class="unq-img" srcset="./img/uniqe/semi.jpg 1x,
                        ./img/uniqe/semi-2x.jpg 2x" 
                        src="./img/uniqe/semi.jpg" 
                        alt="Semi chocolate"
                        width="206" height="160">
                        <p>SEMI - SWEET CHOCOLATE</p>
                    </div>
                    <div class="unq-animation">
                        <h3 class="unq-title-two">semi - sweet chocolate</h3>
                        <button class="unq-btn" type="button">sweet chocolate</button>
                        <button class="unq-btn-two" type="button">the benefits</button>
                        <p class="unq-anim-text">
                            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste
                        </p>
                    </div>
                </li>
            </ul>
        
    
    </div>
</section>