<!-- Unique components -->
<section class="unq-section">
  <div class="container unq-container">
    <h2 class="title unq-title">
      it all adds up to one exceptional&nbsp;<span>taste</span> sensation
    </h2>
    <p class="unq-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unq-list">
      <li class="unq-item pos-one">
        <div class="unq-cirkle fig-one">
          <picture class=".unq-img">
            <source
              media="(min-width:1200px)"
              srcset="
                ./img/uniqe/chocolate.png    1x,
                ./img/uniqe/chocolate-2x.png 2x
              "
            />

            <img
              class="unq-img"
              srcset="
                ./img/uniqe/chocolate-m.png    1x,
                ./img/uniqe/chocolate-m-2x.png 2x
              "
              src="./img/uniqe/chocolate-m.png"
              alt="Chocolate"
              loading="lazy"
            />
          </picture>
          <p class="unq-text-img var-dark">milk chocolate</p>
        </div>
        <div class="unq-animation">
          <h3 class="unq-title-two">milk chocolate</h3>
          <div class="unq-btn-animation">
            <button class="unq-btn btn-comp" type="button">chocolate</button>
            <button class="unq-btn btn-bene" type="button">the benefits</button>
          </div>
          <p class="unq-anim-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="unq-item pos-two">
        <div class="unq-cirkle fig-two">
          <picture class=".unq-img">
            <source
              media="(min-width:1200px)"
              srcset="./img/uniqe/milk.png 1x, ./img/uniqe/milk-2x.png 2x"
            />

            <img
              class="unq-img"
              srcset="./img/uniqe/milk-m.png 1x, ./img/uniqe/milk-m-2x.png 2x"
              src="./img/uniqe/milk-m.png"
              alt="Milk"
              loading="lazy"
            />
          </picture>
          <p class="unq-text-img var-lihgt">milk</p>
        </div>
        <div class="unq-animation">
          <h3 class="unq-title-two">milk</h3>
          <div class="unq-btn-animation">
            <button class="unq-btn btn-comp" type="button">milk</button>
            <button class="unq-btn btn-bene" type="button">the benefits</button>
          </div>
          <p class="unq-anim-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="unq-item pos-three">
        <div class="unq-cirkle fig-three">
          <picture class=".unq-img">
            <source
              media="(min-width:1200px)"
              srcset="./img/uniqe/nuts.png 1x, ./img/uniqe/nuts-2x.png 2x"
            />

            <img
              class="unq-img"
              srcset="./img/uniqe/nuts-m.png 1x, ./img/uniqe/nuts-m-2x.png 2x"
              src="./img/uniqe/nuts-m.png"
              alt="Nuts"
              loading="lazy"
            />
          </picture>
          <p class="unq-text-img var-dark">nuts</p>
        </div>
        <div class="unq-animation">
          <h3 class="unq-title-two">nuts</h3>
          <div class="unq-btn-animation">
            <button class="unq-btn btn-comp" type="button">nuts</button>
            <button class="unq-btn btn-bene" type="button">the benefits</button>
          </div>
          <p class="unq-anim-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They&rsquo;re a good source of fiber, healthy fats, and
            plant protein. Plus, they&rsquo;re great on their own.
          </p>
        </div>
      </li>
      <li class="unq-item pos-four">
        <div class="unq-cirkle fig-four">
          <picture class=".unq-img">
            <source
              media="(min-width:1200px)"
              srcset="./img/uniqe/semi.png 1x, ./img/uniqe/semi-2x.png 2x"
            />

            <img
              class="unq-img"
              srcset="./img/uniqe/semi-m.png 1x, ./img/uniqe/semi-m-2x.png 2x"
              src="./img/uniqe/semi-m.png"
              alt="Semi chocolate"
              loading="lazy"
            />
          </picture>
          <p class="unq-text-img var-lihgt">semi - sweet chocolate</p>
        </div>
        <div class="unq-animation">
          <h3 class="unq-title-two">semi - sweet chocolate</h3>
          <div class="unq-btn-animation">
            <button class="unq-btn btn-comp" type="button">
              sweet chocolate
            </button>
            <button class="unq-btn btn-bene" type="button">the benefits</button>
          </div>
          <p class="unq-anim-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
