/* :root {
  --white-color: #ffffff;
  --main-color: #111111;
  --accent-color: #fd9222;
  --background-color: #1e1823;
  --hover-background-color-btn: #fcf1e0;
  --trans: 250ms linear;
} */

/* БАКГРАУНД */

.adv-color-wallp {
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.advantages-main {
  background-color: var(--background-color);
  padding-bottom: 0;
}

/* СВГ */

.adv-points-list {
}
.adv-points-list:not(:last-child) {
  margin-bottom: 32px;
}

.adv-cirkle {
  /* ФОРМА ЦВЕТ РАЗМЕР */

  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid rgb(255, 255, 255, 0.7);
  background-color: var(--background-color);

  /* ОТСТУПЫ */

  margin: 0 0 22px 0;

  /* ЦЕНТРОВКА */

  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-picture {
  fill: var(--accent-color);

  /* ЦЕНТРОВКА */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ЗАГОЛОВОК */

.adv-zagolovok {
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  margin-bottom: 18px;
}

/* ТЕКСТ */

.adv-text {
  color: rgb(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.21;

  /* ГРАНИЦЫ ТЕКСТА */
  max-width: 308px;
}

.adv-text:last-child {
}

.adv-linie {
  visibility: hidden;
}

/* МЕДИА ПРАВИЛО ДЛЯ ТАБЛЕТКИ................................................................................*/

@media only screen and (min-width: 768px) {
  .adv-box-transportation {
    display: flex;
    flex-wrap: wrap;
  }

  /* ОТСТУП ВТОРОГО ЭЛЕМЕНА ВЛЕВО */

  .adv-points-list:nth-child(even) {
    margin-left: 60px;
  }

  /* ОТСТУП ОТ ВЕРХНЕЙ ГРАНИЦЫ */

  /* УБИРАЕМ ОТСТУП ВНУТРИ СПИСКА*/

  .adv-points-list:last-child {
    padding-top: 0;
    padding-bottom: 35px;
  }

  /* ДЕЛАЕМ НИЖНИЙ ОТСТУП ДЛЯ НИЖНЕГО ЭЛЕМЕНТА */

  .adv-linie {
    visibility: hidden;
  }

  .section {
    padding-bottom: 0;
  }
}
.adv-color-wallp {
  padding: 50px 32px;
}

/* МЕДИА ПРАВИЛО ДЛЯ ДЕСКТОПА...............................................................................*/

@media only screen and (min-width: 1200px) {
  .adv-color-wallp {
    padding: 50px;
  }
  .adv-points-list {
    padding-top: 50px;
    margin-left: 18px;
    position: relative;
  }

  .adv-points-list:last-child {
    padding-top: 50px;
  }

  /* ПОЛОСКА */

  .adv-linie {
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    visibility: inherit;
  }

  .advantages-main {
    margin-top: 72px;
    margin-bottom: 128px;
  }
  .adv-points-list:nth-child(even) {
    margin-left: 70px;
  }

  .adv-points-list:last-child {
    margin-left: 70px;
  }
}
