.slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(253, 146, 34, 1);
  max-width: 300px;
  height: 56px;
  margin-top: 0;
  margin-bottom: 32px;
}

.slogan-second {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-contact-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-right: 201px;
  margin-bottom: 14px;
  width: 77px;
}

.footer-contact-social {
  justify-content: space-between;
  position: relative;
}

.footer {
  background: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-contact {
  max-width: 164px;
}

.footer-contact-social-services {
  display: flex;
  align-items: self-start;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 4px;
}

.footer-contact-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-page-nav-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
  flex-direction: column;
  transition: color var(--trans);
}
.footer-page-nav-link:hover,
.footer-page-nav-link:focus {
  color: var(--accent-color);
}

.footer-social-services-icon {
  stroke: var(--white-color);
  margin-top: 0;
  transition: stroke var(--trans);
}

.footer-social-services-icon:hover,
.footer-social-services-icon:focus {
  stroke: var(--accent-color);
}

.footer-social-services-list {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 0;
  margin-left: auto;
}

.footer-page-nav-item {
  margin-bottom: 18px;
}

.footer-page-nav-item:last-child {
  margin-bottom: 0;
}

.footer-contact-item {
  position: relative;
}

.footer-palka {
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.1);

  position: absolute;
  bottom: 0;
  left: 0;
}

/*.footer-contact-social::after {
    content: '';
    position: absolute;
    width: 1136px;
    height: 0px;
    top: 180px;
    left: 1168px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}*/
/*.footer-social-services-list::before{
    content: '';
    position: absolute;
    width: 1136px;
    height: 0px;
    top: 180px;
    left: 1168px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}*/

/*------------------------------------------------медиа -----------------------------------------*/

/* @media screen and (min-width: 375px) {
  .footer-contact {
    margin-right: 0;
    margin-bottom: 64px;
  }
} */

/* -------------------------------------TABLETKA------------------------------------------------ */

@media only screen and (min-width: 768px) {
  .footer-contact-social {
    display: flex;
  }
  .slogan {
    width: 300px;
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fd9222;
  }

  .footer-contact-title {
    margin-right: 137px;
  }
  .footer-contact {
    margin-right: 50px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-social-services-list {
    gap: 18px;
  }
  .footer-page-nav-list {
    margin-top: 24px;
    display: flex;
    gap: 24px;
  }

  .footer-palka {
    width: 704px;
    bottom: 0;
  }

  .footer-contact-item {
    position: inherit;
  }

  .footer-contact-social {
    position: relative;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* ----------------------------------DESKTOP---------------------------------------- */

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .slogan {
    width: 300px;
  }
  .footer-contact {
    margin-right: 0;
  }
  .footer-contact-title {
    margin-right: 0;
  }

  .footer-social-services-list {
    margin-left: 65px;
  }

  .footer-palka {
    width: 1136px;
    bottom: 0;
  }

  .footer-container {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-page-nav-item {
    margin-bottom: 0;
  }
}
