.slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #FD9222;
    width: 300px;
    height: 68px;
    margin-top: 0;
    margin-bottom: 86px;
}

.slogan-second {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-contact-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-right: 100px;
    margin-bottom: 14px;
}

.footer-contact-social {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-contact {
    margin-right: 63px;
    }

.footer-contact-social-services {
    display: flex;
    align-items: self-start;
   
}

.footer-contact-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.footer-contact-tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-page-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-social-services-icon {
    fill:#FFFFFF;
    margin-top: 0;
}



.footer-social-services-list {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 0;
}

.footer-page-nav-list {
    display: flex;
    gap: 24px;
    margin: 0;
}

.footer-contact-social::after {
    content: '';
    position: absolute;
    width: 1136px;
    height: 0px;
    top: 180px;
    left: 1168px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}
