/* MOBILE */
.logoicon {
  fill: var(--accent-color);
  stroke: #fcf1e0;
}
.mobile-menu-open-burger {
  /* fill: #111111; */
  stroke: #111111;
}
.mobile-menu-close-icon {
  stroke: #ffffff;
}
.header-icon-item {
  stroke: #ffffff;
  fill: #000;
}
.header-icon-item-desktop {
  stroke: #000;
  fill: #ffffff;
  transition: stroke var(--trans);
}
.header-icon-item-desktop:hover,
.header-icon-item-desktop:focus {
  stroke: var(--accent-color);
}
.logosimply {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.logochocolate {
  margin-left: 6px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .container-header-desktop {
    display: none;
  }

  .logosimply {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .logochocolate {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .container-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .mobile-menu-open-btn {
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    max-height: 812px;
    z-index: 1000;
    background-color: #1e1823;
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
    /* transition: var(--transition);
      visibility: var(--transition); */
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); */
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 100px; */
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* z-index: 1000; */
    /* transition: background-color var(--transition); */
  }

  .mobile-menu-nav-link {
    text-decoration: none;
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 88px;
    padding: 0;
    text-decoration: none;
  }

  .mobile-menu-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;

    transition: color var(--transition);
  }

  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: var(--accent-color);
  }

  .icon-mobile-menu {
    display: flex;
    /* justify-content: space-between; */
    gap: 18px;
    /* margin-top: 460px; */
  }

  .icon-mobile-menu-box {
    width: 22px;
    height: 22px;
    /* margin-top: 8px; */
  }

  .icon-mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    fill: #ffffff;
    /* transition: background-color var(--transition); */
  }

  .icon-mobile-menu-link:hover,
  .icon-mobile-menu-link:focus {
    fill: #fd9222;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container-header-desktop {
    display: none;
  }

  .logosimply {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .logochocolate {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .container-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-menu-open-btn {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    max-height: 1024px;
    z-index: 1000;
    background-color: #1e1823;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* transition: var(--transition);
      visibility: var(--transition); */
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); */
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* z-index: 1000; */
    /* transition: background-color var(--transition); */
  }

  .mobile-menu-nav-link {
    text-decoration: none;
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0;
    text-decoration: none;
  }

  .mobile-menu-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    /* transition: color var(--transition); */
  }

  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: #fd9222;
  }

  .icon-mobile-menu {
    display: flex;
    gap: 18px;
  }

  .icon-mobile-menu-box {
    width: 24px;
    height: 24px;
  }

  .icon-mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    fill: #ffffff;
    /* transition: background-color var(--transition); */
  }

  .icon-mobile-menu-link:hover,
  .icon-mobile-menu-link:focus {
    fill: #fd9222;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .container-header-desktop {
    padding: 24px 32px 32px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
  }
  .container-header {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logosimply {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .logochocolate {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .navigation.list {
    display: flex;
    gap: 24px;
  }

  .navigation .link-nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;

    transition: color var(--trans);
  }

  .navigation .link-nav:hover,
  .navigation .link-nav:focus {
    color: var(--accent-color);
  }

  .navigation .link-nav.current {
    color: var(--accent-color);
    position: relative;
  }

  .header-icon {
    display: flex;
    gap: 18px;
  }

  .header-icon-box {
    width: 24px;
    height: 24px;
  }

  .header-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    fill: rgba(17, 17, 17, 1);
    /* transition: background-color var(--transition); */
  }

  .header-icon-link:hover,
  .header-icon-link:focus {
    fill: #fd9222;
  }
}
