.hero-container {
  padding-top: 395px;
  max-width: 335px;
  height: 621px;
  margin: 0 auto;

  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-dc/hero_chocolate_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--white-color);
  border-radius: 30px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_mob@2x.jpg);
  }
}
.hero-subtitle {
  width: 290px;

  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: var(--white-color);
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 32px;
}
.hero-btn {
  transition: background-color var(--trans), color var(--trans);

  width: 120px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;

  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 100px;
  border-color: transparent;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.hero-second-btn {
  transition: border-color var(--trans), background-color var(--trans),
    color var(--trans);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;

  color: var(--white-color);
  border: transparent;
  border: 1px solid var(--white-color);
  border-radius: 100px;
  background: transparent;
}
.hero-second-btn:hover,
.hero-second-btn:focus {
  border-color: var(--accent-color);
  background-color: var(--white-color);
  color: var(--accent-color);
}

.hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-scroll-text {
  transition: color var(--trans);

  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;

  color: var(--white-color);
}
.hero-scroll:hover .hero-scroll-text,
.hero-scroll:focus .hero-scroll-text {
  color: var(--accent-color);
}
.hero-scroll:hover .hero-scroll-btn,
.hero-scroll:focus .hero-scroll-btn {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
  fill: var(--white-color);
}

.hero-scroll-btn {
  transition: background-color var(--trans);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  background-color: var(--white-color);
  border-radius: 50%;
}

.hero-scroll-icon {
  fill: var(--accent-color);
  transition: fill var(--trans);
}

@media screen and (min-width: 768px) {
  .hero-section.section {
    padding-bottom: 50px;
  }

  .hero-container.container {
    padding-top: 671px;

    height: 890px;
    margin: 0 auto;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white-color);
    border-radius: 30px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero-dc/hero_chocolate_tab@2x.jpg);
    }
  }
  .hero-subtitle {
    width: 484px;
    height: 102px;
    margin-bottom: 32px;

    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;

    color: var(--white-color);
  }
  .hero-block-btn {
    display: flex;

    margin-left: 8px;
    margin-right: 8px;
  }

  .hero-buttons {
    display: flex;
    align-items: center;
    gap: 14px;

    margin: 0;
  }
  .hero-btn {
    width: 144px;
    height: 45px;
  }
  .hero-second-btn {
    width: 183px;
    height: 45px;
  }

  .hero-scroll {
    align-items: center;
    margin-left: auto;
  }
  .hero-scroll-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;

    color: var(--white-color);
  }
  .hero-scroll-btn {
    width: 38px;
    height: 38px;

    border-radius: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    /* max-width: 1200px;
    height: 600px;
    margin: 0 auto; */
  }
  .hero-container {
    /* padding: 381px 40px 40px; */
    width: 1136px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_desc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white-color);
    border-radius: 30px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero-dc/hero_chocolate_desc@2x.jpg);
    }
  }
  .hero-container.container {
    height: 600px;
    padding-top: 381px;
  }
  .hero-wrap {
  }
}
