.hero-section {
  max-width: 375px;
  height: 621px;
  margin: 0 auto;

  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-dc/hero_chocolate_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white-color);
  border-radius: 30px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_mob@2x.jpg);
  }
}

.hero-container {
  padding-top: 395px;
}
.hero-subtitle {
  width: 290px;
  height: 72px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: var(--white-color);
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 39px;
}
.hero-btn {
  width: 120px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;

  color: var(--white-color);
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 100px;
}
.hero-second-btn {
  width: 159px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;

  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 100px;
  background: transparent;
}
.hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-scroll-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;

  color: var(--white-color);
}
.hero-scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  border-radius: 50%;
  border: 1px solid var(--white-color);
}
.hero-scroll-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 100%;
    height: 890px;
    margin: 0 auto;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white-color);
    border-radius: 30px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero-dc/hero_chocolate_tab@2x.jpg);
    }
  }

  .hero-container {
    padding-top: 671px;
  }
  .hero-subtitle {
    width: 484px;
    height: 102px;
    margin-bottom: 32px;

    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;

    color: var(--white-color);
  }
  .hero-block-btn {
    display: flex;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 40px;
  }

  .hero-buttons {
    display: flex;
    align-items: center;
    gap: 14px;

    margin: 0;
  }
  .hero-btn {
    width: 144px;
    height: 45px;
  }
  .hero-second-btn {
    width: 183px;
    height: 45px;
  }

  .hero-scroll {
    align-items: center;
    margin-left: auto;
  }
  .hero-scroll-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;

    color: var(--white-color);
  }
  .hero-scroll-btn {
    width: 38px;
    height: 38px;

    border-radius: 50%;
    border: 1px solid var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-dc/hero_chocolate_desc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white-color);
    border-radius: 30px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(./img/hero-dc/hero_chocolate_desc@2x.jpg);
    }
  }

  .hero-container {
    padding-top: 381px;
  }
}
