
.how-made-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 32px;
    padding-top: 76px;
}
.how-made-colorful {
    color: #FD9222;
    margin-left: 4px;
}
.how-made-image {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 335px;
}
.how-made-space {
    position: relative;
}

  .him-cont-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .how-made-icon {
    fill: #F5F4F4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

.how-made-list-background {
    background: #FFFFFF;
border-radius: 15px;
min-width: 335px;
text-align: center;
justify-content: center;

}
.how-made-subtitle {
    font-size: 18px;
line-height: calc(24 / 18);
color: #111111;
padding: 20px 14px;
max-width: 307px;

}
.how-made-list {
    padding-bottom: 72px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 14px;
gap: 18px;
 
}
.how-made-text {
    position: relative;
    margin-left: 30px;
    font-weight: 400;
font-size: 14px;
line-height: calc(18 / 14);
letter-spacing: -0.02em;
color: #111111;
   
}
.how-made-text:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -10%;
 display: flex;
width: 6px;
height: 6px;
border-radius: 50%;
background: #4C4C4C;
border-color: #4C4C4C;

} 
@media screen and (min-width: 768px) {
    .how-made-title {
        margin-bottom: 50px;
        padding-top: 100px;
    }
    .how-made-section {
        margin-bottom: 100px;
    }
    .how-made-image {
        min-width: 614px;
    }
    .how-its-made {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
isolation: isolate;
    }
    .how-made-list {
       padding-bottom: 32px;

    }
    .how-made-text:before {
        content: '';
        top: 5px;
        left: -20px;
    }

    .how-made-subtitle {
        padding-top: 32px;
        padding-bottom: 28px;
        padding-left: 32px;
        min-width: 350px;
      
    }
    .how-made-list-background {
        max-width: 614px;
    }   
    
}
@media screen and (min-width: 1200px) {
    .how-made-section {
        display: flex;
align-items: flex-start;
padding: 0px;
gap: 20px;
isolation: isolate;
max-height: 400px;
max-width: 1136px;
margin-bottom: 128px;
    }
    
    .how-made-title {
      padding-top: 128px;
       
    }
    .how-made-image {
        max-width: 600px;
    }
    .how-made-list-background {
        max-width: 516px;
        
    }
    .how-made-text {
        gap: 24px;
    }
    
}