.how-made-title {
  text-align: center;
  margin-bottom: 32px;
}

.how-made-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 15px;
  margin-bottom: 20px;
  max-width: 335px;
}
.how-made-space {
  position: relative;
}

.how-made-list-background {
  padding: 20px 14px;

  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
}
.how-made-subtitle {
  margin-bottom: 20px;
  max-width: 318px;
  text-align: left;
}
.how-made-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 18px;
}
.how-made-text {
  position: relative;
  margin-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #111111;
  text-align: left;
}

.how-made-text:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -6%;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #4c4c4c;
  border-color: #4c4c4c;
}
@media screen and (min-width: 768px) {
  .how-its-made.section {
    padding-bottom: 100px;
  }
  .how-made-title {
    margin-bottom: 50px;
    padding-top: 100px;

    font-size: 24px;
    line-height: 1.17;
  }

  .how-made-image {
    min-width: 614px;
  }
  .how-its-made {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    isolation: isolate;
  }
  .how-made-list {
  }
  .how-made-text:before {
    content: '';
    top: 5px;
    left: -20px;
  }

  .how-made-subtitle {
    min-width: 350px;
  }
  .how-made-list-background {
    max-width: 614px;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-section {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    isolation: isolate;
    max-height: 400px;
    max-width: 1136px;
    padding-bottom: 0;
  }

  .how-made-title {
    padding-top: 128px;
  }
  .how-made-image {
    max-width: 600px;
  }
  .how-made-list-background {
    max-width: 516px;
  }
  .how-made-text {
    gap: 24px;
  }
}

/********************************** VIDEO ********************************/

.how-its-mad-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.video {
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  /* background-color: rgba(0, 0, 0, 0.4); */
  cursor: pointer;
  transition: all 0.2s ease;
}

.video__overlay.hide {
  opacity: 0;
  visibility: hidden;
}
.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-made-list-background {
  margin-top: 20px;
}

/* **************************TABLETKA************************************ */

@media only screen and (min-width: 768px) {
  .how-made-title {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .video {
    width: 100%;
    height: 400px;
  }
  .video-icon {
    width: 44px;
    height: 44px;
  }

  .how-made-subtitle {
    max-width: 380px;
    min-width: 350px;
    margin-left: 0;
  }

  .how-made-text {
    max-width: 464px;
  }

  .how-made-list-background {
    padding: 32px;
  }
}

/* **************************DESKTOP************************************ */

@media only screen and (min-width: 1200px) {
  .how-its-made.section {
    padding-bottom: 128px;
  }

  .how-made-list-background {
    margin-top: 0;
    height: 400px;
  }
  .how-made-list {
    gap: 24px;
  }
  .video {
    width: 600px;
    height: 400px;
  }
}
