.our-products-section {
  padding-bottom: 72px;
}
.our-products-container {
  text-align: center;
}

.our-products-title {
  margin-bottom: 32px;
  text-align: center;
}

.our-prod-slide-list {
  display: flex;
}

.our-prod-slide-item {
  padding: 32px 52px;
  /* max-width: 270px; */
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.our-prod-name {
  margin-bottom: 2px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.our-prod-text {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.our-prod-btn {
  width: 94px;
  height: 33px;
  font-weight: 600;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  transition: color var(--trans), background-color var(--trans);
}
.our-prod-btn:hover,
.our-prod-btn:focus {
  color: var(--accent-color);
  background-color: var(--hover-background-color-btn);
}

.slick-dots li.slick-active button:before {
  left: -60%;
  width: 28px;
  height: 13px;
  background-color: var(--accent-color);
  border-radius: 6.5px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .our-products-section {
    padding-bottom: 100px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .our-products-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }

  .our-prod-slide-item {
    padding-left: 20px;
    padding-right: 20px;
    background: var(--white-color);
    margin: 0 9px;
  }
}

@media screen and (min-width: 1200px) {
  .our-products-section {
    padding-bottom: 128px;
  }
}
