.subscribe {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe/subcribe.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe-explore {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: var(--white-color);
}

.subscribe-text {
    font-style: normal;
    font-weight: 400;
    max-width: 467px;
    margin: 0 auto;
    margin-bottom: 24px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.subscribe-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color var(--trans);
}

.subscribe-button:hover {
    background-color: var(--hover-background-color-btn);
    color: var(--accent-color);
    transition: var(--trans);
}



.subscribe-modal {
    position: relative;
    margin: auto;
    width: 95%;
    max-width: 538px;
    height: 412px;
    background-color: #fafafa;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 236px;
    padding-bottom: 40px;
    z-index: 15;
}

.subscribe-modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
}



.subscribe-modal-btn-close {
    stroke: var(--white-color);
    z-index: 16;
    transition: var(--trans);
}

.subscribe-modal-btn-close:hover {
    stroke: var(--accent-color);
    transition: var(--trans);
}

.subscribe-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 196px;
    background-image: url(../img/subscribe/new-chocolate.jpg);
    background-position: center;
}

.subscribe-modal-new {
    color: var(--accent-color);
}

.subscribe-modal-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.subscribe-modal-form {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.subscribe-review-input {
    width: 313px;
    height: 52px;
    margin: 0;
    border: 1.5px solid rgba(17, 17, 17, .05);
    border-radius: 30px;
    padding: 15px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.subscribe-review-submit {
    padding: 12px 28px;
    width: 137px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background: var(--accent-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--white-color);
    transition: var(--trans);
}

.subscribe-review-submit:hover {
    background-color: var(--hover-background-color-btn);
    color: var(--accent-color);
    transition: var(--trans);
}

@media screen and (min-width: 320px) {
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .subscribe {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url(../img/subscribe/subcribe-mob.jpg);
            padding: 63px 20px;
        }
    }

    .subscribe-button {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: var(--white-color);
        background-color: var(--accent-color);
        text-align: center;
        max-width: 128px;
        max-height: 41px;
        border-radius: 100px;
        border-color: transparent;
        padding: 12px 28px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .subscribe {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url(../img/subscribe/subcribe-mob@2x.jpg);
            padding: 63px 20px;
        }
    }

    .subscribe-modal {
        width: 311px;
        height: 350px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 201px;
        padding-bottom: 32px;
    }

    .subscribe-border {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 169px;
        background-image: url(../img/subscribe/new-chocolate-mob.jpg);
        background-position: center;}

    .subscribe-modal-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    .subscribe-review-input {
        width: 263px;
        height: 45px;
        margin: 0;
        border: 1.5px solid rgba(17, 17, 17, .05);
        border-radius: 30px;
        padding: 14px 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);
    }

    .subscribe-review-submit {
        padding: 14px 28px;
        width: 100px;
        height: 45px;
        margin-left: -150px;
    }
}

@media screen and (min-width: 768px) {
    .subscribe {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe/subcribe-tab.jpg);
        padding: 72px 150px;
    }

    .subscribe-border {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 480px;
        height: 196px;
        background-image: url(../img/subscribe/new-chocolate.jpg);
        background-position: center;
    }

    .subscribe-modal {
        position: relative;
        margin: auto;
        width: 95%;
        max-width: 538px;
        height: 412px;
        background-color: #fafafa;
        border-radius: 15px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 236px;
         padding-bottom: 40px;
        z-index: 15;
        }

        .subscribe-modal-text {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            margin-bottom: 28px;
        }
    
        .subscribe-modal-btn {
            position: absolute;
            top: 24px;
            right: 84px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            stroke: var(--white-color);
            background-color: transparent;
            border: none;
            padding: 0;
        }

        .subscribe-modal-form {
            display: flex;
            justify-content: space-between;
            gap: 8px;
        }
    
        .subscribe-review-input {
            width: 313px;
            height: 52px;
            margin: 0;
            border: 1.5px solid rgba(17, 17, 17, .05);
            border-radius: 30px;
            padding: 15px 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: rgba(64, 64, 64, 0.3);
        }
    
        .subscribe-review-submit {
            padding: 17px 40px;
            width: 137px;
            height: 52px;
            margin: 0px;
            border-radius: 100px;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.2;
        }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .subscribe {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url(../img/subscribe/subcribe-tab@2x.jpg);
                padding: 72px 150px;
        }
    }

    .subscribe-button {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        max-width: 150px;
        max-height: 50px;
        font-family: 'Montserrat';
        color: var(--white-color);
        background-color: var(--accent-color);
        text-align: center;
        border-radius: 100px;
        border-color: transparent;
    }

}

@media screen and (min-width: 1200px) {
    .subscribe {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe/subcribe.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .subscribe {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url(../img/subscribe/subcribe@2x.jpg);
        }
    }
    
    .subscribe-explore {
        margin: 0 auto;
        max-width: 291px;
        color: var(--white-color);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        margin-bottom: 24px;
    }
}



.subscribe-button:hover {
    color: var(--accent-color);
    background-color: var(--hover-background-color-btn);
}