.subscribe {
  background-color: var(--background-color);
  padding-top: 62px;
  padding-bottom: 63px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/subscribe/subscribe-mob@1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscribe-explore {
  max-width: 291px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: var(--white-color);
}
.subscribe-text {
  margin-bottom: 24px;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--white-color);
}
.subscribe-button {
  transition: background-color var(--trans), color var(--trans);

  min-width: 128px;
  padding: 12px 28px;
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

/* -------------------------------------Modal----------------------------------- */
.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 30;
  transition: tranform var(--trans), opacity var(--trans);
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
.subscribe-modal {
  width: 311px;

  background: #fafafa;
  border-radius: 15px;
}
.subscribe-modal-bg {
  height: 169px;
  margin-bottom: 32px;
  border-radius: 15px 15px 0 0;
  background-image: url(../img/subscribe/subscribe-modal-bg-mob@1.jpg);
}
.subscribe-modal-btn {
  position: absolute;
  top: 15px;
  right: 14px;
  background-color: transparent;
  border: none;
}
.subscribe-modal-btn-close {
  stroke: var(--white-color);
}
.subscribe-modal-wrapp {
  padding: 0 24px 32px;
}

.subscribe-modal-text {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.subscribe-modal-new {
  color: var(--accent-color);
}

.subscribe-review-input {
  width: 100%;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.subscribe-review-submit {
  transition: background-color var(--trans), color var(--trans);

  position: absolute;
  right: 24px;
  bottom: 32px;

  min-width: 100px;
  padding: 14px 22px;
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-mob@2.png);
  }
  .subscribe-modal-bg {
    background-image: url(../img/subscribe/subscribe-modal-bg-mob@2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-tab@1.png);
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .subscribe-modal-bg {
    background-image: url(../img/subscribe/subscribe-modal-bg-tab-desk@1.jpg);
  }
  .subscribe-explore {
    font-size: 24px;
    line-height: 1.16;
  }
  .subscribe-button {
    padding: 14px 40px;
    min-width: 172px;

    font-size: 18px;
    line-height: 1.22;
  }
  .subscribe-text {
    max-width: 467px;
  }
  .subscribe-modal {
    width: 538px;
  }
  .subscribe-modal-btn-close {
    height: 28px;
    width: 28px;
  }
  .subscribe-modal-bg {
    margin-bottom: 0;
    height: 196px;
  }
  .subscribe-modal-wrapp {
    padding: 40px;
  }
  .subscribe-modal-form {
    display: flex;
    column-gap: 8px;
  }
  .subscribe-review-input {
    padding: 14px 24px;
    width: 313px;
  }
  .subscribe-review-submit {
    position: static;
    min-width: 137px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (main-width: 768px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-tab@2.png);
  }
  .subscribe-modal-bg {
    background-image: url(../img/subscribe/subscribe-modal-bg-tab-desk@2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-desktop@1.png);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (main-width: 1200px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-desktop@2.png);
  }
}
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
