.subscribe {
    padding: 72px 366px;
    height: 370px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe/subcribe.jpg);
    background-size: cover;
}

.subscribe-explore {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: var(--white-color);
}

.subscribe-text {
    font-style: normal;
    font-weight: 400;
    width: 467px;
    margin: 0 auto;
    margin-bottom: 24px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.subscribe-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color var(--trans);
}

.subscribe-button:hover {
    background-color: var(--hover-background-color-btn);
    color: var(--accent-color);
    transition: var(--trans);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.subscribe-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 538px;
    height: 412px;
    background-color: #fafafa;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 236px;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 15;
}

.subscribe-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 196px;
    background-image: url(../img/subscribe/new-chocolate.jpg);
    background-position: center;
}

.subscribe-modal-new {
    color: var(--accent-color);
}

.subscribe-modal-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.subscribe-modal-form {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.subscribe-review-input {
    width: 313px;
    height: 52px;
    margin: 0;
    border: 1.5px solid rgba(17, 17, 17, .05);
    border-radius: 30px;
    padding: 15px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.subscribe-review-submit {
    padding: 12px 28px;
    width: 137px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background: var(--accent-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--white-color);
    transition: var(--trans);
}

.subscribe-review-submit:hover {
    background-color: var(--hover-background-color-btn);
    color: var(--accent-color);
    transition: var(--trans);
}