.title-top-seller {
  text-align: center;
  margin-bottom: 32px;
}

.ts-img {
  border-radius: 15px;
}
.top-sellers-item {
  margin: 0 auto;
  margin-bottom: 20px;
}

.top-sellers-item-hidden {
  visibility: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0px;
  width: 0px;
}

.top-seller-discription {
  line-height: 11, 29;
  letter-spacing: -0.02em;
}

.top-sellers-block {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 32px;
}
.buy-top-sellers {
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  background: var(--accent-color);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--white-color);
  transition: color var(--trans), background-color var(--trans);
}

.buy-top-sellers:hover,
.buy-top-sellers:focus {
  background-color: var(--hover-background-color-btn);
  color: var(--accent-color);
}
/* модальное окно */
.modal-top-sellers {
  height: 90%;
  overflow-y: auto;
  position: relative;
  margin: 0 auto;
  padding: 24px 32px;
  width: 311px;
  background: var(--boody-bg);
  border-radius: 15px;
}
.modal-top-sellers-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 14px;
  top: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-modal-buynow {
  stroke: black;
  fill: var(--main-color);
}
.label-modal-buynow {
  display: block;
  margin-top: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
}
.modal-buynow-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 8px;
  background: var(--white-color);
  width: 100%;
  height: 85px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.modal-buynow-discription {
  display: inline-flex;
  align-items: center;
  padding: 6px 16px;
  min-width: 70px;
  height: 29px;
  background: var(--boody-bg);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.21;
}
.modal-top-sellers-list {
  margin-bottom: 32px;
}

.modal-submit {
  margin-left: 0px;
  margin-top: 18px;
}
.input-box-buynow {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.buynow-input-svg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 14px 18px 14px 106px;
  width: 100%;
  height: 44px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}
.icon-tel-input {
  position: absolute;
  top: 22px;
  left: 18px;
  transform: translateY(-50%);
}
.country-code {
  position: absolute;
  display: flex;
  align-items: center;
  top: 22px;
  left: 50px;
  transform: translateY(-50%);
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
  height: 24px;
  padding-right: 8px;
  background: var(--body-bg);
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}
.buynow-input-svg-card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 14px 18px;
  width: 100%;
  height: 44px;
}
.icon-card-input {
  position: absolute;
  top: 22px;
  right: 24px;
  transform: translateY(-50%);
  width: 32px;
  height: 21px;
}
.buynow-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 14px 18px;
  width: 100%;
  height: 45px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}
textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}
.buynow-comment {
  width: 100%;
  height: 91px;
  resize: none;
}
@media screen and (min-width: 768px) {
  .unq-section.section {
    padding-bottom: 100px;
  }

  .container {
    max-width: 768px;
  }
  .title-top-seller {
    margin-bottom: 50px;
  }
  .top-sellers {
    padding-bottom: 100px;
  }

  .top-sellers-list {
    display: flex;
    margin: 0 auto;
  }
  .top-sellers-item {
    min-height: 464px;
    margin-bottom: 0;
  }
  .top-sellers-item:first-child {
    margin-left: 0px;
  }
  .top-sellers-item:nth-child(2) {
    margin-right: 0px;
  }
  .top-seller-discription {
    max-width: 306px;
    text-align: left;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
  .top-sellers-block {
    margin-top: 32px;

    max-width: 306px;
    /* margin-top: 32px; */
  }
  .sellers-tab-item {
    position: relative;
    /* margin-right: -16px; */
  }
  .relative-block {
    /* position: relative; */
    display: flex;
    max-width: 306px;
  }
  .buy-top-sellers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 0px;
    padding: 14px 40px;
    gap: 14px;
    width: 162px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--white-color);
  }
  .sellers-modal-open {
    position: absolute;
    right: 1px;
  }
  .top-sellers-item-hidden {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .modal-top-sellers {
    position: relative;
    margin: 0 auto;
    padding: 48px;
    width: 609px;
  }
  .modal-top-sellers-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .modal-top-sellers-list {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 40px;
  }
  .modal-top-sellers-item {
    margin-right: 16px;
  }
  .modal-top-sellers-item:last-child {
    margin-right: 0px;
  }
  .modal-buynow-input {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 24px 20px 8px 20px;
    margin: 0 auto;
    background: var(--white-color);
    width: 160px;
    height: 196px;
  }
  .img-modal-buynow {
    width: 120px;
    height: 107px;
    margin-bottom: 14px;
  }
  .modal-buynow-discription {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    min-width: 96px;
    height: 33px;
  }
  .top-sellers-susername {
    display: flex;
    margin: 0 auto;
    padding: 0px;
  }
  .susername-buynow {
    min-width: 246px;
  }
  .margin-buynow {
    min-width: 246px;
  }
  .margin-buynow {
    margin-right: 21px;
  }
  .label-modal-buynow {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .buynow-input {
    margin: 0 auto;
    width: 100%;
    height: 66px;
  }
  .buynow-input-svg {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 24px 20px 24px 177px;
    width: 100%;
    height: 66px;
  }
  .icon-tel-input {
    position: absolute;
    top: 33px;
    left: 24px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
  }
  .country-code {
    position: absolute;
    display: flex;
    align-items: center;
    top: 33px;
    left: 74px;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: -0.02em;
    color: #000000;
    height: 32px;
    padding-right: 20px;
    background: var(--body-bg);
    box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .buynow-input-svg-card {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 24px 20px 24px 20px;
    width: 100%;
    height: 66px;
  }
  .icon-card-input {
    position: absolute;
    top: 33px;
    right: 24px;
    transform: translateY(-50%);
    width: 44px;
    height: 30px;
  }
  .buynow-comment {
    width: 100%;
    height: 137px;
    resize: none;
  }
  .modal-submit {
    margin-left: 0px;
    margin-top: 18px;
    padding: 14px 40px;
    width: 133px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-section {
    padding-bottom: 100px;
  }
  .container {
    max-width: 1200px;
  }

  .top-sellers-item-hidden {
    visibility: visible;
  }
  .top-sellers-item {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0px;
    width: 33.3%;
    height: 464px;
  }

  .top-sellers-block {
    max-width: 407px;
    margin-top: 32px;
  }
  .relative-block {
    display: flex;
    width: 759px;
    margin-bottom: 128px;
  }
  .sellers-modal-open {
    left: 579px;
  }
}
