.unq-section {
  padding-top: 72px;
  padding-bottom: 72px;
}
.unq-title {
  width: 293px;
  margin: 0 auto 24px;
  text-align: center;
}

.unq-text {
  margin-bottom: 32px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
}

.unq-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.unq-item {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 335px;
}

.unq-cirkle {
  width: 335px;
  height: 270px;
  border-radius: 15px;
}

.fig-one {
  background: var(--accent-color);
}

.fig-two {
  background: var(--white-color);
  border: 1px solid var(--accent-color);
}
.fig-three {
  background: var(--background-color);
}
.fig-four {
  background: var(--white-color);
  border: 1px solid var(--accent-color);
}
.unq-img {
  margin: 28px auto 25px;
}
.unq-text-img {
  margin-bottom: 28px;
  margin-left: 28px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.var-dark {
  color: var(--white-color);
}

.var-lihgt {
  color: var(--main-color);
}

.unq-animation {
  position: absolute;
  padding: 28px;
  width: 100%;
  top: 0;
  transform: translateY(100%);
  background: var(--white-color);
  border-radius: 15px;
  transition: transform var(--trans);
}
.unq-item:hover .unq-animation {
  transform: translateY(0);
}
.unq-title-two {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.unq-btn-animation {
  display: flex;
  margin-bottom: 14px;
}
.unq-btn {
  margin-right: 6px;
  padding: 6px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 35px;
  font-size: 10px;
  line-height: 1.2;
}

.btn-comp {
  background: var(--accent-color);
  color: var(--white-color);
  transition: background-color var(--trans), color var(--trans);
}
.btn-comp:hover,
.btn-comp:focus {
  background-color: var(--hover-background-color-btn);
  color: var(--accent-color);
}

.btn-bene {
  background: var(--boody-bg);
  color: var(--main-color);
  transition: background-color var(--trans), color var(--trans);
}
.btn-bene:hover,
.btn-bene:focus {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: transparent;
}

.unq-anim-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  .unq-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .unq-title {
    width: 411px;
    margin: 0 auto 28px;
  }

  .unq-text {
    width: 486px;
    margin: 0 auto 50px;
  }

  .unq-list {
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 32px;
  }

  .unq-item {
    width: calc(100%-32px) / 2;
  }

  .pos-one {
    order: 1;
  }
  .pos-two {
    order: 3;
  }
  .pos-three {
    order: 4;
  }
  .pos-four {
    order: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .unq-section {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .unq-list {
    display: flex;
  }

  .unq-img {
    margin: 28px 36px 36px 28px;
  }

  .unq-list {
    gap: 19px;
  }

  .unq-item {
    width: calc((100% - 57px) / 4);
  }

  .pos-one {
    order: 1;
  }

  .pos-two {
    order: 2;
  }

  .pos-three {
    order: 3;
  }

  .pos-four {
    order: 4;
  }

  .unq-animation {
    padding: 20px;
    height: 270px;
    overflow-y: scroll;
  }
}
